{% extends "base.html" %}
{% load static %}
{% load components %}

{% block title %}Posts{% endblock title%}


{% block content %}
<section class="m-4">
  <header class="mt-4 p-5 bg-secondary text-white rounded">
    <h1 class="display-4">Hello, world!</h1>
    <p class="lead">This is a my super blog about something.</p>
  </header>
  <main class="row">
    {% for post in post_list %}
    <div class="post-item col-12 col-md-6 p-2">
      <div class="card h-100">
        <div class="card-body">
          <h2 class="card-title">{{ post.title }}</h2>
          <p class="text-secondary">{{ post.created|date:"d.m.Y" }} by {{ post.author }}</p>
          <p class="card-text">{{post.body|safe|truncatewords_html:15 }}</p>
          {% like_btn %}
          <a href="{% url 'post_detail' post.slug  %}" class="btn btn-primary">Read More</a>
        </div>
      </div>
    </div>

    {% endfor %}
  </main>
</section>
{% endblock content %}